body {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

html {
    min-height: 100vh;
}

nav {
    position: fixed;
    display: block;
    background-color: red;
    width: 100vw;
    height: 3rem;
    z-index: auto;
}

aside {
    transition: left 400ms;
    position: fixed;
    display: block;
    background-color: yellow;
    width: min(100vw, 18rem);
    height: 100vh;
    z-index: 1;
    left: -18rem;
    overflow-x: hidden;
    overflow-y: auto;
}

main {
    transition: left 400ms;
    position: fixed;
    display: block;
    background-color: blue;
    width: 100vw;
    height: calc(100vh - 3rem);
    top: 3rem;
    z-index: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

body.toggled aside {
    left: 0;
}

body.toggled main {
    left: 18rem;
}

main > div {
    background-color:brown;
    margin: 0.5rem;
}