body {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
background-color: white;
color: black;
border-top: 1rem solid black;
}

* {
font-family: 'Ubuntu', sans-serif;
}

article {
    background-color: rgb(225, 225, 255);
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: min(100vw - 2rem, 38rem);
margin: 1rem auto;
}

img {
    border-radius: 0.5rem;
width: calc(100% - 1rem);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
margin-top: 1rem;
}

code {
padding: 0.5rem;
background-color: rgb(32, 32, 48);
}
